p {
	display: inline-block;
}

.hidden {
	display:none;
}

.controlMenu {
	display: inline-block;
	text-align: center;
	width: 20vw;
	margin: auto;
}

.expanded {
	display: inline-block;
	text-align: center;
	width: 20vw;
	margin: auto;
	border: 1px solid black;
}

.controlMenu button {
	margin: 1em;
}