#tbl-holder {
	margin: 0;
	overflow-x: hidden;
}

table {
	display: inline-block;
	margin: 0;
	width: 100%;
	border-collapse: collapse;
}

.editIcon {
	padding: 0;
	display: inline-block;
	position: relative;
	cursor: pointer;
	z-index: 0;
}

.editIcon img{
	width: 0.5em;
	padding: 0;
	margin-top: -0.1em;
	display: block;
	position: absolute;
	cursor: pointer;
	left: 1.5vw;
	bottom: 0.5vw;
	z-index: 0;
}

.editIcon button{
	width: 1.5em;
	height: 1.5em;
	padding: 0;
	margin-top: -0.1em;
	display: block;
	position: absolute;
	cursor: pointer;
	left: 1.5vw;
	bottom: 0.5vw;
	opacity: 0;
}

.overtime {
	animation: overtimeFlash 2s infinite;
	-webkit-animation: overtimeFlash 2s infinite;
	/*color: rgb(236, 240, 241);*/
}

.overtime_txt {
	animation: overtimeFlash_txt 2s infinite;
	-webkit-animation: overtimeFlash_txt 2s infinite;
	font-size: 1em;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.late {
	animation: alertFlash 1s infinite;
	-webkit-animation: alertFlash 1s infinite;
	/*color: rgb(236, 240, 241);*/
}

.late_txt {
	animation: alertFlash_txt 1s infinite;
	-webkit-animation: alertFlash_txt 1s infinite;
	font-size: 1.35em;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.complete {
	opacity: 1;
	background: rgb(39, 174, 96);
	/*color: rgb(236, 240, 241);*/
}

.complete_tv {
	opacity: 1;
	animation: hideRow 5s normal forwards;
	-webkit-animation: hideRow 5s normal forwards;
	background: rgb(39, 174, 96);
	/*color: rgb(236, 240, 241);*/
}

.hide {
	opacity : 0;
}

.complete_tv.ng-hide {
	opacity: 0;
	transform:scale(1, 0);
	display: none;
}

.started {
	background: #3498db;
	/*color: rgb(236, 240, 241);*/
}

.started_tv {
	opacity: 1;
	background: #3498db;
	/*color: rgb(236, 240, 241);*/
	animation: hideRow 5s normal forwards;
	-webkit-animation: hideRow 5s normal forwards;
}

.started_tv.ng-hide {
	opacity: 0;
	transform:scale(1, 0);
	display: none;
}

.late p {
	color: rgb(52, 73, 94);
}

.checkbox-column { 
	width: 6vw;
	height: 4vh;
}

<!-- Hide Row -->
@keyframes hideRow
{
	0%   {
		opacity: 1;
		transform:scale(1, 1);
	}
	50%  {
		opacity: 0.5;
		transform:scale(1, 0.5);
	}
	100% {
		opacity: 0;
		transform:scale(1, 0);
	}
}

@-webkit-keyframes hideRow /* Safari and Chrome - necessary duplicate */
{
	0%   {
		opacity: 1;
		transform:scale(1, 1);
	}
	50%  {
		opacity: 0.5;
		transform:scale(1, 0.5);
	}
	100% {
		opacity: 0;
		transform:scale(1, 0);
	}
}


<!-- Late -->
@keyframes alertFlash
{
	0%   {background: #e74c3c;}
	50%  {background: #c0392b;}
	100%  {background: #e74c3c;}
}

@-webkit-keyframes alertFlash /* Safari and Chrome - necessary duplicate */
{
	0%   {background: #e74c3c;}
	50%  {background: #c0392b;}
	100%  {background: #e74c3c;}
}

@keyframes alertFlash_txt
{
	0%   {color: #ecf0f1;}
	50%  {color: #34495e;}
	100%  {color: #ecf0f1;}
}

@-webkit-keyframes alertFlash_txt /* Safari and Chrome - necessary duplicate */
{
	0%   {color: #ecf0f1;}
	50%  {color: #34495e;}
	100%  {color: #ecf0f1;}
}


<!-- Overtime -->
@keyframes overtimeFlash
{
	0%   {background: #f39c12;}
	50%  {background: #f1c40f;}
	100%  {background: #f39c12;}
}

@-webkit-keyframes overtimeFlash /* Safari and Chrome - necessary duplicate */
{
	0%   {background: #f39c12;}
	50%  {background: #f1c40f;}
	100%  {background: #f39c12;}
}

@keyframes overtimeFlash_txt
{
	0%   {color: #ecf0f1;}
	50%  {color: #c0392b;}
	100%  {color: #ecf0f1;}
}

@-webkit-keyframes overtimeFlash_txt /* Safari and Chrome - necessary duplicate */
{
	0%   {color: #ecf0f1;}
	50%  {color: #c0392b;}
	100%  {color: #ecf0f1;}
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 3em;
}

.checkbox-elm {
    font-size: 3em;
}

.header-fixed {
	display:block;
	position: sticky;
	top:0;
	background-color: white;
	z-index: 1;
}

td p {
	font-size: 0.9em;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

th {
    font-size: 2.25em;
    border: 1px solid black;
    text-align: center;
    height: 40px;
}

.smaller-txt {
	border: 1px solid black;
	text-align: center;
	height: 40px;
	line-height: 1em;
	margin: 0;
}

.smaller-txt .headr_emoji {
	display:inline-block;
	font-size: 1em;
	margin: 0;
	margin-bottom: 1vh;
}

.smaller-txt .headr {
	display:inline-block;
	font-size: 1em;
	margin: 0;
	margin-bottom: 0.25em;
}

@media screen and (max-width: 2160px) {
	.smaller-txt .headr_emoji {
		font-size: 1.15em;
	}
	
	.smaller-txt .headr {
		font-size: 0.9em;
	}
}


@media screen and (max-width: 1800px) {
	.dropdown p {
		font-size: 0.8em;
	}
	
	.smaller-txt {
		line-height: 0.8em;
	}
	
	.smaller-txt .headr_emoji {
		font-size: 1.1em;
	}
	
	.smaller-txt .headr {
		font-size: 0.75em;
	}
}

@media screen and (max-width: 1440px) {
	.dropdown p {
		font-size: 0.7em;
	}
	
	.smaller-txt .headr_emoji {
		font-size: 0em;
		height: 0px;
	}
	
	.smaller-txt .headr {
		font-size: 0.6em;
	}
}

@media screen and (max-width: 1260px) {
	.dropdown p {
		font-size: 0.55em;
	}
	
	.smaller-txt {
		height: 1vh;
	}
	
	.smaller-txt .headr_emoji {
		font-size: 0.9em;
		margin-top: 0.25em;
	}
	
	.smaller-txt .headr {
		font-size: 0em;
	}
}

@media screen and (max-width: 768px) {
	.dropdown p {
		font-size: 0.55em;
	}
	
	.smaller-txt {
		height: 1vh;
	}
	
	.smaller-txt .headr_emoji {
		font-size: 0.9em;
		margin-top: 0.25em;
	}
	
	.smaller-txt .headr {
		font-size: 0em;
	}
}

td {
    font-size: 1.65em;
    border: 1px solid black;
    text-align: center;
    height: 40px;
}

tbody, thead tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

tr { 
	/*line-height: 2.2em;*/
	color: #34495e;
}
		
tr > p {
	color: #34495e;
}

label {
    height: calc(1em + 2px);
	width: calc(1em + 2px);
}

.chargeAmount {
	position: relative;
    height: 0.5em;
    bottom: 0.15em;
    font-size: 0.8em;
    padding-bottom: 0.5em;
    color: #ecf0f1;
}

.complete_tv .dropdown:hover .dropdown-content{
	display: none;
}

.started_tv .dropdown:hover .dropdown-content{
	display: none;
}

.dropdown p {
	margin: 0;
	white-space: prewrap;

}

.dropdown_title:hover .dropdown-content {
	display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 325px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 0px 12px 12px;
    z-index: 1;
    text-align: left;
	max-width: 50vw;
}

.dropdown-content p { 
	font-size: 1em;
	display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0.25em;
    background-color: #ecf0f1;
}

.pretty {
    position: relative;
    display: inline-block;
    margin-right: unset !important;
    white-space: nowrap;
    line-height: 1;
}


.pretty input {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1em;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.pretty .state label:after,.pretty .state label:before {
    top: unset !important;
}


.pretty.p-icon .state .icon {
    top: unset !important;
	color: rgba(255, 255, 0, 1)
}

.react-datepicker-popper {
	z-index: 2;
}

/*
	Thanks
	https://stackoverflow.com/questions/38787411/animate-table-rows-with-react
*/

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}