.App {
	margin: 0;
	text-align: center;
}

input[type="text"] {
	outline: none;
	border: none;
	-webkit-appearance: none;
	box-shadow: none !important;
}
/*
	Chrome specific way to disable autofill's coloring!
*/
:-webkit-autofill {
	color: #fff !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.react-datepicker__input-container input[type='text']{
	text-align: center;
	font-size: 3em;
	width: 6em;
	font-weight: bold;
}